@font-face {
    font-family: 'lane_-_narrowregular';
    src: url("LANENAR_-webfont.8a037704f8c5.eot");
    src: url("LANENAR_-webfont.8a037704f8c5.eot?#iefix") format('embedded-opentype'),
         url("LANENAR_-webfont.e75b5b3d3492.woff") format('woff'),
         url("LANENAR_-webfont.2b0d1b2589d5.ttf") format('truetype'),
         url("LANENAR_-webfont.d005d39a9353.svg#lane_-_narrowregular") format('svg');
    font-weight: normal;
    font-style: normal;

}

