{% extends "_base.html" %}

{% load static i18n %}

{% block page_title %}{% blocktrans %}Hype - Mobile App Landing Page{% endblocktrans %}{% endblock %}

{% block header %}
  <!--###############################-->
  <!--HOME ##########################-->
  <!--###############################-->

  <section id="home" class="header">
    <div class="container">
        <div class="row">
            <div id="homescreen" class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                 <div id="logo"><a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="{% trans "logo" %}"></a></div>
                 <div id="logo_header"><h5>{% trans "Landing page" %}</h5></div>
                 <div id="slogan"><h1>{% blocktrans %}Hype Landing Page is the best way to
                     present your beautiful mobile app.{% endblocktrans %}</h1></div>
                 <a href="{% url "signup" %}" class="cta2">{% blocktrans %}Signup Now{% endblocktrans %}</a>
                 <img src="{% static 'images/homescreen.png' %}" class="img-responsive" id="home_image" alt="{% trans "img" %}">
            </div> <div class="clearfix"></div>
        </div>
    </div>
  </section>
{% endblock %}

{% block content %}


  <!--###############################-->
  <!--ABOUT #########################-->
  <!--###############################-->

  <section id="about">
      <div class="container">

          <div class="row" id="about_intro">
              <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >

                  <h2>{% blocktrans %}Built with Bootstrap v3.0{% endblocktrans %}</h2>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>

              </div>
          </div>

          <div class="row" >

              <div class="col-sm-4 col-md-4 col-lg-4" id="service_1">
                  <svg viewBox="0 0 32 32" class="services_icon"><use xlink:href="#compass"></use></svg>
                  <h3>{% blocktrans %}Fully Responsive{% endblocktrans %}</h3>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4" id="service_2">
                  <svg viewBox="0 0 32 32" class="services_icon"><use xlink:href="#map"></use></svg>
                  <h3>{% blocktrans %}134 SVG Icons{% endblocktrans %}</h3>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4" id="service_3">
                  <svg viewBox="0 0 32 32" class="services_icon"><use xlink:href="#calendar"></use></svg>
                  <h3>{% blocktrans %}HTML5 &amp; CSS3{% endblocktrans %}</h3>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
              </div>

          </div>

      </div>
  </section>

  <!--###############################-->
  <!--Features 1 ####################-->
  <!--###############################-->

  <section id="features_1">
      <div class="container">
          <div class="row"  >
              <div class="col-sm-6 col-md-6  col-lg-6">
                <img src="{% static 'images/features1b.png' %}" class="img-responsive image_back" id="features1a_image" alt="{% trans "img" %}">
                <img src="{% static 'images/features1a.png' %}" class="img-responsive image_front" id="features1b_image" alt="{% trans "img" %}">
              </div>

              <div class="col-sm-6 col-md-6 col-lg-6" id="features_1_content">
                  <h2>{% blocktrans %}Detailed documentation{% endblocktrans %}</h2>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
                  <div class="feature">
                      <svg viewBox="0 0 32 32" class="feature_icon">
                      <use xlink:href="#graph-pie1"></use></svg>
                      <div>
                          <h4>{% blocktrans %}Beautiful, modern design{% endblocktrans %}</h4>
                          <p>{% blocktrans %}Epsum factorial non deposit quid pro quo<br>hic escorol.{% endblocktrans %}</p>
                      </div>
                  </div>

                  <div class="feature">
                      <svg viewBox="0 0 32 32" class="feature_icon">
                          <use xlink:href="#joystick"></use></svg>
                      <div>
                          <h4>{% blocktrans %}Easy to set up{% endblocktrans %}</h4>
                          <p>{% blocktrans %}Epsum factorial non depositquid pro quo<br>hic escorol.{% endblocktrans %}</p>
                      </div>
                  </div>


              </div>

          </div>

      </div>

  </section>

  <!--###############################-->
  <!--Features 2 ####################-->
  <!--###############################-->

  <section id="features_2">
      <div class="container">
          <div class="row">

              <div class="col-sm-6 col-md-6 col-lg-6" id="features_2_content">
                  <h2>{% blocktrans %}All you want from an app{% endblocktrans %}</h2>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
                  <div class="feature">
                      <svg viewBox="0 0 32 32" class="feature_icon">
                          <use xlink:href="#ribbon"></use></svg>
                      <div>
                          <h4>{% blocktrans %}Video background{% endblocktrans %}</h4>
                          <p>{% blocktrans %}Epsum factorial non deposit quid pro quo<br>hic escorol.{% endblocktrans %}</p>
                      </div>
                  </div>

                  <div class="feature">
                      <svg viewBox="0 0 32 32" class="feature_icon">
                          <use xlink:href="#rotate"></use></svg>
                      <div>
                          <h4>{% blocktrans %}Cool animations{% endblocktrans %}</h4>
                          <p>{% blocktrans %}Epsum factorial non depositquid pro quo<br>hic escorol.{% endblocktrans %}</p>
                      </div>
                  </div>

              </div>


              <div class="col-sm-6 col-md-6  col-lg-6" >
                  <img src="{% static 'images/features2b.png' %}" class="img-responsive image_back" id="features2a_image" alt="{% trans "img" %}">
                  <img src="{% static 'images/features2a.png' %}" class="img-responsive image_front" id="features2b_image" alt="{% trans "img" %}">
              </div>

          </div>

      </div>

  </section>

  <!--###############################-->
  <!--Features 3 ####################-->
  <!--###############################-->

  <section id="features_3">
      <div class="container">
          <div class="row" id="features_3_intro">
              <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >
                  <h2>{% blocktrans %}Awesome Features{% endblocktrans %}</h2>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>
              </div>
          </div>

          <div class="row" >
              <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_left">

                  <div class="feature">
                      <h4>{% blocktrans %}Awesome Features{% endblocktrans %}</h4>
                      <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                      </p>
                  </div>

                  <div class="feature">
                      <h4>{% blocktrans %}Awesome Features{% endblocktrans %}</h4>
                      <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                      </p>
                  </div>

              </div>

              <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_center">
                  <img src="{% static 'images/features3.png' %}" class="img-responsive" id="features3_image" alt="img">
              </div>

              <div class="col-sm-4 col-md-4 ol-lg-4" id="features_3_content_right">

                  <div class="feature">
                      <h4>{% blocktrans %}Awesome Features{% endblocktrans %}</h4>
                      <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                      </p>
                  </div>

                  <div class="feature">
                      <h4>{% blocktrans %}Awesome Features{% endblocktrans %}</h4>
                      <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                      </p>
                  </div>

              </div>

          </div>

      </div>
  </section>



  <!--###############################-->
  <!--Final CTA and Footer #########-->
  <!--###############################-->

  <section id="footer">
      <div class="container">
          <div class="row" id="newsletter">
              <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" >

                  <h2>{% blocktrans %}Signup Now{% endblocktrans %}</h2>
                  <p>{% blocktrans %}Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum.{% endblocktrans %}
                  </p>

                   <a href="{% url "signup" %}" class="cta2">{% blocktrans %}Signup Now{% endblocktrans %}</a>

              </div>
          </div>

         <div class="row">
             <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1" id="share">

                 <p>{% blocktrans %}Copyright &copy; 2014 Hype{% endblocktrans %}</p>

             </div>
         </div>

      </div>
  </section>
{% endblock %}
